TELEGRAM_TOKEN=8865133753:AAExaTx_fF9nOxWoDDDnfkpw4cLiWmDc7TU
OWNER_USERNAME=Frag_History
OWNER_CHAT_ID=1964140493
BOT_NAME=Fronzan ArizonaRP
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET_KEY=your_secret_key
YOOKASSA_RETURN_URL=https://your-domain.example/payment-success
